@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.touch__decor {
    @keyframes dropSpin {
        0% {
            transform: translateY(-200%) rotate(0deg);
        }

        100% {
            transform: translateY(0%) rotate(360deg);
        }
    }
}